NEXT_IMX298_LG=/system/etc/camera/bshutter/imx298/
NEXT_IMX298_LITEON=/system/etc/camera/bshutter/imx298/
EVA_IMX286DUAL_LITEON=/system/etc/camera/bshutter/imx286/
EVA_IMX286DUAL_SHARP=/system/etc/camera/bshutter/imx286/
EVA_IMX286DUAL_SUNNY=/system/etc/camera/bshutter/imx286/
EVA_IMX286LEGACYDUAL=/system/etc/camera/bshutter/imx286/
KNIGHT_IMX286DUAL_LITEON=/system/etc/camera/bshutter/imx286/
KNIGHT_IMX286DUAL_SHARP=/system/etc/camera/bshutter/imx286/
KNIGHT_IMX286DUAL_SUNNY=/system/etc/camera/bshutter/imx286/
KNIGHT_IMX286LEGACYDUAL=/system/etc/camera/bshutter/imx286/
VIENNA_IMX286DUAL_LITEON=/system/etc/camera/bshutter/imx286/
VIENNA_IMX286DUAL_SHARP=/system/etc/camera/bshutter/imx286/
VIENNA_IMX286DUAL_SUNNY=/system/etc/camera/bshutter/imx286/
FRD_IMX286DUAL_LITEON=/system/etc/camera/bshutter/imx286/
FRD_IMX286DUAL_SHARP=/system/etc/camera/bshutter/imx286/
FRD_IMX286DUAL_SUNNY=/system/etc/camera/bshutter/imx286/
FRD_IMX286LEGACYDUAL=/system/etc/camera/bshutter/imx286/
EDISON_IMX278_SUNNY=/system/etc/camera/bshutter/imx278/
EDISON_IMX278_LITEON=/system/etc/camera/bshutter/imx278/
BTV_OV8858_FOXCONN=/system/etc/camera/bshutter/ov8858/
BTV_IMX219_LITEON_BACK=/system/etc/camera/bshutter/imx219_back/
BTV_IMX219_OFILM_BACK=/system/etc/camera/bshutter/imx219_back/
NATASHA_IMX286DUAL_LITEON=/system/etc/camera/bshutter/imx286/
NATASHA_IMX286DUAL_SHARP=/system/etc/camera/bshutter/imx286/
NATASHA_IMX286DUAL_SUNNY=/system/etc/camera/bshutter/imx286/