NEXT_IMX298_LG=/system/etc/camera/hwscope/NEXT_imx298_lg/
NEXT_IMX298_LITEON=/system/etc/camera/hwscope/NEXT_imx298_liteon/
EVA_IMX286DUAL_LITEON=/system/etc/camera/hwscope/imx286dual/
EVA_IMX286DUAL_SHARP=/system/etc/camera/hwscope/imx286dual/
EVA_IMX286DUAL_SUNNY=/system/etc/camera/hwscope/imx286dual/
EVA_IMX286LEGACYDUAL=/system/etc/camera/hwscope/imx286dual/
KNIGHT_IMX286DUAL_LITEON=/system/etc/camera/hwscope/imx286dual/
KNIGHT_IMX286DUAL_SHARP=/system/etc/camera/hwscope/imx286dual/
KNIGHT_IMX286DUAL_SUNNY=/system/etc/camera/hwscope/imx286dual/
KNIGHT_IMX286LEGACYDUAL=/system/etc/camera/hwscope/imx286dual/
VIENNA_IMX286DUAL_LITEON=/system/etc/camera/hwscope/imx286dual/
VIENNA_IMX286DUAL_SHARP=/system/etc/camera/hwscope/imx286dual/
VIENNA_IMX286DUAL_SUNNY=/system/etc/camera/hwscope/imx286dual/
EDISON_IMX278_SUNNY=/system/etc/camera/hwscope/EDISON_imx278_sunny/
EDISON_IMX278_LITEON=/system/etc/camera/hwscope/EDISON_imx278_liteon/
BTV_OV8858_FOXCONN=/system/etc/camera/hwscope/BTV_ov8858_foxconn/
BTV_IMX219_LITEON_BACK=/system/etc/camera/hwscope/BTV_imx219_liteon/
BTV_IMX219_OFILM_BACK=/system/etc/camera/hwscope/BTV_imx219_ofilm/
NATASHA_IMX286DUAL_LITEON=/system/etc/camera/hwscope/imx286dual/
NATASHA_IMX286DUAL_SHARP=/system/etc/camera/hwscope/imx286dual/
NATASHA_IMX286DUAL_SUNNY=/system/etc/camera/hwscope/imx286dual/
